
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Decentralized Credential Verification Platform</title>
    {% load static %}
    <meta name="description" content="A privacy-first platform ensuring trust and integrity for credentials using blockchain technology and off-chain storage.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap and Custom CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">DApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#how-it-works">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user.is_authority %}
                            <li class="nav-item">
                                <a class="btn btn-danger nav-link text-white" href="{% url 'authority-profile' %}">My Profile</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-danger nav-link text-white" href="{% url 'user-profile' %}">My Profile</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="btn btn-warning nav-link text-white" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-success nav-link text-white" href="{% url 'login' %}">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-warning nav-link text-white" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <header class="hero-section text-center">
        <div class="container">
            {% if not user.is_authenticated %}
                <!-- Display for Non-Authenticated Users (Wrapped in Card) -->
                <div class="text-center p-4">
                    <header class="hero-section">
                        <h1 class="gradient-text">Credential verification, <span class="gradient-forever">Forever.</span></h1>
                        <p>A privacy-first platform ensuring trust and integrity for credentials using blockchain technology and off-chain storage.</p>
                        <a href="{% url 'register' %}" class="btn btn-custom me-3">Get Started</a>
                        <a href="#features" class="btn btn-outline-primary">Learn More</a>
                    </header>
                </div>
            {% elif is_authority %}
                <!-- Display for Authorities (Wrapped in Card) -->
                <div class="card feature-tile text-center p-4">
                    <div class="row">
                        <h3>Pending Claims: {{ pending_claims_count }}</h3>
                        <a href="{% url 'authority-profile' %}" class="btn btn-primary">Go to Profile</a>
                    </div>
                </div>
            {% else %}
                <!-- Display for Non-Authorities (Wrapped in Card) -->
                <div class="card feature-tile text-center p-4">
                    <div class="row">
                        <h3>Select an Authority to Create a Claim</h3>
                        <form action="{% url 'create-claim' %}" method="GET">
                            <!-- maybe add csrf slot token here -->
                            <div class="form-group">
                                <label for="authority-dropdown">Available Authorities</label>
                                <select id="authority-dropdown" name="authority" class="form-control">
                                    {% for institution in institutions %}
                                        <option value="{{ institution.id }}">{{ institution.institution_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Create Claim</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <!-- UCL demo -->
    <div class="container ucl-intro" style="display: none;">
        <div class="row">
            <h3>Here for the UCL Thesis demo?</h3>
            <p>Insert your UCL email, a demo doc. will be sent!</p>
            <form action="{% url 'send_demo' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="ucl-email">UCL Email</label>
                    <input type="email" class="form-control" id="ucl-email" name="ucl_email" placeholder="Enter your UCL email" required>
                </div>
                <button type="submit" class="btn btn-primary">Send Demo</button>
            </form>
        </div>
    </div>


    <!-- Features Section -->
    <section id="features" class="py-5 text-center">
        <div class="container">
            <h2 class="mb-5">Why Choose Us?</h2>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="feature-tile">
                        <i class="bi bi-shield-lock icon-style-large"></i> <!-- Enlarged icon -->
                            <h3 class="card-title">Privacy-First Design</h3>
                            <p>Your personal data remains secure. We never store PII on-chain, ensuring complete control over your credentials.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="feature-tile">
                        <i class="bi bi-file-lock icon-style-large"></i> <!-- Enlarged icon -->
                            <h3 class="card-title">Tamper-Proof Credentials</h3>
                            <p>Our decentralized approach guarantees that credentials cannot be modified or tampered with after issuance.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="feature-tile">
                        <i class="bi bi-download icon-style-large"></i> <!-- Enlarged icon -->
                            <h3 class="card-title">User Control</h3>
                            <p>Full autonomy over your credentials—view, share, or store them as you see fit.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="feature-tile">
                        <i class="bi bi-check-circle icon-style-large"></i> <!-- Enlarged icon -->
                            <h3 class="card-title">Web3 Without Hassle</h3>
                            <p>Seamless onboarding for non-Web3 users, offering an intuitive experience with or without blockchain knowledge.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- How It Works Section -->
    <section id="how-it-works" class="py-5 bg-light" style="background-image: url('{% static 'images/chain-back-submain.png' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="container text-center">
            <h2 class="mb-5">How It Works</h2>
            <div class="row" style="background: #E6E6E6; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
                <div class="col-md-3">
                    <!img src="{% static 'images/submit_icon.png' %}" alt="Submit Icon" class="img-fluid mb-3">
                    <h4>Submit a Credential</h4>
                    <p>Users securely submit their credentials for verification by trusted authorities.</p>
                </div>
                <div class="col-md-3">
                    <!img src="{% static 'images/verify_icon.png' %}" alt="Verify Icon" class="img-fluid mb-3">
                    <h4>Authority Verification</h4>
                    <p>Authorities digitally sign and verify credentials on the blockchain, providing trust and security.</p>
                </div>
                <div class="col-md-3">
                    <!img src="{% static 'images/proof_icon.png' %}" alt="Proof Icon" class="img-fluid mb-3">
                    <h4>Receive Proof</h4>
                    <p>Once verified, users receive tamper-proof digital proofs of their credentials, ready for sharing.</p>
                </div>
                <div class="col-md-3">
                    <!img src="{% static 'images/share_icon.png' %}" alt="Share Icon" class="img-fluid mb-3">
                    <h4>Verification for Third Parties</h4>
                    <p>Easily share your credentials with third parties, allowing them to verify authenticity instantly.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section id="testimonials" class="py-5 text-center">
        <div class="container">
            <h2 class="mb-5">Real Use Cases</h2>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="testimonial-tile">
                        <h4>Education</h4>
                        <p>Universities can issue tamper-proof diplomas and degrees, ensuring that student achievements are authentic and verified without doubt.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="testimonial-tile">
                        <h4>Corporate</h4>
                        <p>Businesses can verify employee credentials without relying on third-party services, streamlining the verification process while ensuring authenticity.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>