body {
  background: rgb(211, 131, 18);
  /*background: linear-gradient(90deg, rgba(211, 131, 18, 1) 0%, rgba(168, 50, 121, 1) 100%);*/
  background: linear-gradient(to right, #A1FFCE, #FAFFD1);
  height: 100vh; /* Ensure the body takes the full height of the viewport */
  margin: 0; /* Remove default margin */
  display: flex; /* Use Flexbox on the body */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.largeDescriptorMainScreen {
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
}
.largeDescriptorMainScreen h1 {
    font-size: 102px ;
}

.largeButtonMainScreen {
  padding: 22% 0;
  font-size: 1.5rem;
  border-radius: 25px;
  border-width: 7px;
  transition: transform 0.3s;
}

.largeButtonMainScreen:hover {
  transform: scale(1.05);
}

.container {
  text-align: center; /* Center text inside the container */
}
